:root {
    --white: #F4FFFD;
    --red: #ED254E;
    --blue: #011936;
    --yellow: #F9DC5C;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid #00000033; */
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

/* Header CSS */
header {
    background-color: var(--blue);
    padding: 0.8rem;
}
header .site-title {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
/* ----------[ Nav Section ]---------- */
.nav-section {
    background-color: var(--blue);
    padding: 1rem;
}
.nav-section nav>ul {
    text-align: center;
    font-size: 0;
}
.nav-section nav>ul>li {
    display: inline-block;
    font-size: 1.2rem;
}
.nav-section nav>ul>li>a {
    text-decoration: none;
    display: block;
    margin-left: 0.8rem;
    border-radius: 50px;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 0.5rem 1rem;
}
.nav-section nav>ul>li:first-child {
    margin-left: 0;
}
.nav-section nav>ul>li>a:hover {
    background-color: var(--red);
    border: 1px solid var(--red);
    color: var(--white);
}

/* ----------[ Main Section ]---------- */
.main-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 500px;
}


/* ----------[ Search Form Section ]---------- */
.search-box {
    flex: 350px 0 0;
    padding: 1rem;
}
.search-form {
    border-radius: 1.6rem;
    background-color: var(--red);
    padding: 1rem;
    box-shadow: 0 0 10px -5px #000e;
    
}
.search-form-header {
    color: var(--white);
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
}
.search-form-body input, select {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
.search-form-body select>option:first-child {
    color: #0000007f;
}
.search-form-body input:last-child {
    margin-bottom: 0;
}
.search-form-body input[type=submit]:hover {
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}

/* ----------[ Data Sheet Section ]---------- */
.data-sheet {
    flex-grow: 10;
    /* flex-basis: 70%; */
    /* background-color: #8bb8ff; */
    padding: 1rem;
    font-size: 1.2rem;
    overflow-x: auto;
}
.data-sheet .caption {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}
.data-sheet table, th, td {
    text-align: center;
}
.data-sheet th, td {
    border-left: 0;
    border-right: 0;
}
.data-sheet-table {
    border-radius: 1.6rem;
    overflow: hidden;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 8px -4px #000e;
}
.data-sheet-head tr {
    background-color: var(--red);
}
.data-sheet-head tr>th {
    color: var(--white);
    padding: 1rem;
    font-size: 1.2rem;
}
.data-sheet-body tr {
    background-color: var(--white)fff;
}
.data-sheet-body tr:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
}
.data-sheet-body tr>td {
    padding: 0.5rem;
    font-size: 1rem;
}


/* Upload Status */
.upload-status {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    border: 5px solid #00000062;
    border-radius: 1.6rem;
}