:root {
	--container-box: 44rem;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* border: 1px solid #8d8d8d; */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	min-height: 89vh;
}



/* ======================================================= */



/* --------------------[ Common CSS ]-------------------- */
a {
	font-weight: bold;
	text-decoration: none;
	color: var(--bs-info);
}
section {
	margin-bottom: var(--bs-gutter-x);
}
.highlight {
	background-color: yellow;
	color: #000;
}

.card {
	/* box-shadow: 1px 1px 5px 0 #00000024; */
	box-shadow: var(--bs-box-shadow-sm);
	/* margin: var(--bs-gutter-x) auto 0 auto; */
	margin-top: var(--bs-gutter-x);
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
.card .card-header {
	font-weight: bold;
	color: var(--bs-secondary);
}

/* ======================================================= */

/* --------------------[ Section = Nav Bar ]-------------------- */
#main_menu {
	background-color: var(--bs-light);
	/* border-bottom: 1px solid #88888820; */
}
/* --------------------[ Section = Insert Form ]-------------------- */
#inputCountryCode {
	border-radius: 0;
}


/* --------------------[ Section = Image Cropper ]-------------------- */
#imageCropperModal img {
	display: block;

	max-width: 100;
	max-height: 70vh;
	min-height: 50vh;
	/* border: 1px solid #000000; */
}
#imageCropperModal .frame {
	display: flex;
	justify-content: center;
	/* border: 5px solid #ffff00; */
	padding: var(--bs-gutter-x);
	box-shadow: inset 0 0 20px 0px #00000054;
	/* background-color: #888888; */
}


/* --------------------[ Section = App List ]-------------------- */
#apps-list .app-box {
	max-width: var(--container-box);
	margin: var(--bs-gutter-x) auto;
}
#apps-list .app-box {
	border-radius: 1.8rem;
	background-color: var(--bs-light);
	padding: 0.8rem;
}
#apps-list .app-box .app {
	width: 7rem;
	height: 7rem;
	background-color: var(--bs-white);
	border-radius: var(--bs-gutter-x);
	margin: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--bs-success);
	font-size: 3.5rem;
}
#apps-list .app-box .app:hover {
	background: var(--bs-success);
	color: var(--bs-light);
	outline: 0.5rem solid #0d6efd20;
}
/* --------------------[ Section = Profile ]-------------------- */
#profile tr a {
	font-weight: bold;
	color: var(--bs-secondary);
	text-decoration: none;
}
#profile tr a:hover {
	color: var(--bs-info) !important;
}

/* ====================[ Page = Shekor ]==================== */
/* --------------------[ Section = generation-series ]-------------------- */
#generation-series {
	background-color: var(--bs-success);
	padding: 0.5rem 0;
}
#generation-series a {
	text-decoration: none;
	color: inherit;
	margin: 0 0.5rem;
}


/* --------------------[ Section = family  ]-------------------- */
#family .family-head,
#family .family-member {
	margin-top: var(--bs-gutter-x);
}
#family table tr:hover {
	background-color: var(--bs-warning);
}
#family table th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: var(--bs-success);
	color: white;
}
#family table tr td a {
	text-decoration: none;
	color: inherit;
}


/* --------------------[ Section = family  ]-------------------- */
#search_box,
#search_result {
	/* margin-top: 1.5rem; */
}


/* --------------------[ Section = Search Engine  ]-------------------- */
.search-bar {
	max-width: var(--container-box);
	margin: var(--bs-gutter-x) auto;

}



/* --------------------[ Section = search_result  ]-------------------- */
#search_result {
	/* margin-bottom: var(--bs-gutter-x); */
}
#search_result .card {
	max-width: 44rem;
	/* margin: inherit auto; */

}
#search_result .result_item {
	padding: 0.5rem;
	display: block;
	text-decoration: none;
	color: inherit;
	/* border-radius: 0.3rem; */
}
#search_result .result_item:hover {
	background-color: var(--bs-light);
	/* color: var(--bs-dark); */
}
#search_result .profile-image img {
	display: inline-block;
	max-width: 3rem;
	max-height: 3rem;
	border: 3px solid var(--bs-secondary);
	border-radius: 50%;
}



/* --------------------[ Section = Contact  ]-------------------- */
#contact {
	margin-top: var(--bs-gutter-x);
	font-size: 2rem;
	color: var(--bs-secondary);
}
#contact .card {
	min-width: 350px;
	max-width: 500px;
}
#contact .card-body .row {
	padding: 0.5rem;
	font-weight: bold;
	color: var(--bs-secondary);
}
#contact .card-body .row:hover {
	background-color: var(--bs-warning);
	color: var(--bs-dark);
}
#contact .connection {
	padding: 1.5rem;
	text-align: center;
	color: var(--bs-secondary);
}
#contact .connection a {
	text-decoration: none;
	font-weight: bold;
	color: var(--bs-info);
}




/* --------------------[ Section = Main ]-------------------- */
/* main {
	min-height: 80vh;
} */

/* --------------------[ Section = Footer ]-------------------- */
footer {
	background-color: var(--bs-light);
	/* color: var(--bs-secondary); */
	padding: var(--bs-gutter-x);
	position: absolute;
	width: 100%;
	bottom: -11vh;
}
footer #copyright {
	text-align: center;
	color: var(--bs-secondary);
}

/* --------------------[ Section = Profile ]-------------------- */
#profile>.container>.row {
	max-width: 700px;
	margin: auto;
}
#profile .profile-image, 
#profile .profile-name, 
#profile .profile-buttons {
	height: 100%;
}
#profile .profile-name {
	padding: var(--bs-gutter-x);
}
#profile .social-buttons>a {
	margin-top: 5px;
	color: var(--bs-light);
	font-weight: bold;
}